# Default ignored files
/shelf/
/modules

/workspace.xml
/vcs.xml
/other.xml
/misc.xml
/migrations.xml
/gradle.xml
/appInsightsSettings.xml
/assetWizardSettings.xml
/kotlinc.xml

/copyright
/inspectionProfiles
